.wp-theme-support-sidebar{
    &__fontsize-save {
        margin-top: 20px;
    }

    &__fontsize-name{
        margin-right: 10px; 
    }

    &__fontsize-size{
        width: 80px;
        margin-right: 10px; 
    }

    &__fontsize-add-content {
        .wp-theme-support-sidebar__fontsize-wrapper{
            padding: 6px;
        }
    }
}