.wp-theme-support-sidebar{
    &__color-add-content{
        .component-color-indicator{
            margin-left: 0;
            width: 34px;
            height: 29px;
            margin-top: 22px;
            border-radius: 6px;
            cursor: pointer;
            display: block;
        }
    }

    &__color-save {
        margin-top: 20px;
    }

    &__color-add-content {
        .wp-theme-support-sidebar__color{
            padding: 6px;
        }
    }
}